
global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    user        haproxy
    group	haproxy

defaults
    mode    tcp
    option  tcplog

frontend www
    bind {{ salt['network.interface_ip']('eth0') }}:80
    default_backend nginx_pool

backend nginx_pool
    balance roundrobin
    {% for server, addr in salt['mine.get']('G@role:core').items() -%}
    server {{ server }} {{ addr }}:80 check
    {% endfor -%}
